<a href="https://colab.research.google.com/github/Huong1703/PTDL/blob/main/03_US_Baby_Names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import requests
from io import StringIO

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [ ]:
response = requests.get('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv')
baby_names = pd.read_csv(StringIO(response.text))
print(baby_names)

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 4. See the first 10 entries

In [ ]:
print(baby_names.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
columns_to_drop = ['Unnamed: 0', 'Id']
baby_names = baby_names.drop(columns=set(columns_to_drop) & set(baby_names.columns), axis=1)
print(baby_names)

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1016390     Seth  2014      M    WY      5
1016391  Spencer  2014      M    WY      5
1016392     Tyce  2014      M    WY      5
1016393   Victor  2014      M    WY      5
1016394   Waylon  2014      M    WY      5

[1016395 rows x 5 columns]

### Step 6. Is there more male or female names in the dataset?

In [ ]:
gender_counts = baby_names['Gender'].value_counts()
print("More" if gender_counts['M'] > gender_counts['F'] else "less than")

less than

### Step 7. Group the dataset by name and assign to names

In [ ]:
names = baby_names.groupby('Name')
print(names.head())

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1004923  Gryffin  2014      M    WI      5
1004950     Kroy  2014      M    WI      5
1004973     Owyn  2014      M    WI      5
1005707   Haylea  2005      F    WV      5
1012216  Coalton  2012      M    WV      7

[65502 rows x 5 columns]

### Step 8. How many different names exist in the dataset?

In [ ]:
num_unique_names = baby_names['Name'].nunique()
print("number of different names:", num_unique_names)

number of different names: 17632

### Step 9. What is the name with most occurrences?

In [ ]:
name_counts = baby_names['Name'].value_counts()
most_common_name = name_counts.idxmax()
print("name with most occurrences:", most_common_name)

name with most occurrences: Riley

### Step 10. How many different names have the least occurrences?

In [ ]:
min_occurrences = name_counts.min()
num_names_with_least_occurrences = (name_counts == min_occurrences).sum()
print("names have the least occurrences:", num_names_with_least_occurrences)

names have the least occurrences: 3682

### Step 11. What is the median name occurrence?

In [ ]:
median_occurrence = name_counts.median()
print("the median name occurrence:", median_occurrence)

the median name occurrence: 8.0

### Step 12. What is the standard deviation of names?

In [ ]:
std_deviation = name_counts.std()
print("standard deviation:", std_deviation)

standard deviation: 122.02996350814088

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [ ]:
summary = name_counts.describe()
print(summary)

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
Name: count, dtype: float64